$blue-dark: #20264b;
$blue-light: #4069a8;
$pink-dark: #e25263;
$pink-light: #ff5c6f;
$green-dark: #6bb03d;
$green-light: #a4c73c;
$grey-light: #777777;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.15);
