/* 
Azul claro #2980b9
Azul medio #2c3e50
Azul oscuro #141E30 */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(41, 127, 185, 0.5),
      rgba(20, 30, 48, 0.5)
    ),
    url(../img/coding_4.jpeg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);

  position: relative;
}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
}

.img-logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  color: #fff;
  text-transform: uppercase;
}

.hero-title-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
}

.hero-title-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.9rem;
}
