:root {
  --blue-light: #2c5364;
  --blue-middle: #203a43;
  --blue-dark: #1168b2;
  --orange-light: #fc997c;
  --orange-dark: #f18533;
  --green-light: #71b280;
  --green-dark: #6bb03d;
  --grey-light: #777777;
  --white: #ffffff;
  --shadow: rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--grey-light);
}

.separador {
  margin: 5rem 0;
}

/*hero section*/
.hero {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(9, 24, 33, 0.8),
      rgba(11, 21, 40, 0.8)
    ),
    url(../img/coding_2.jpeg);
  background-size: cover;
  background-position: top;
  --webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);

  position: relative;
}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
}

.img-logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-title {
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.hero-title-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
}

.hero-title-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.9rem;
}

.button:link,
.button:visited {
  text-transform: uppercase;
  color: var(--grey-light);
  text-decoration: none;
  padding: 1rem 5rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0.2);
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0.2);
}

.button-white {
  background-color: var(--white);
  color: var(--grey-light);
}

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.button-white::after {
  background-color: var(--white);
}

.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*end hero section*/

/*Services section*/
/*Card rotation effect*/
.my-card {
  perspective: 150rem;
  --moz-perspective: 150rem;
  position: relative;
  height: 40rem; /* Must be the same */
  margin: 0 1rem;
}

.my-card:hover .my-card__side {
  transform: rotateY(180deg);
}

.my-card__side {
  background-color: var(--white);
  height: 40rem; /* Must be the same */
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem var(--shadow);
}

.my-card__side--front {
  background-color: var(--white);
}

.my-card__side--back {
  transform: rotateY(180deg);
  color: var(--white);
  text-align: center;
  position: relative;
}

.my-card__side--back-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
}

.my-card__side--back-1 {
  background-color: var(--orange-dark);
}

.my-card__side--back-2 {
  background-color: var(--blue-dark);
}

.my-card__side--back-3 {
  background-color: var(--green-dark);
}

.my-card:hover .my-card__side--back {
  transform: rotateY(0);
}

.my-card:hover .my-card__side--front {
  transform: rotateY(-180deg);
}

/*Front card styling*/
.my-card__img {
  background-size: cover;
  height: 18rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.my-card__img--1 {
  background-image: linear-gradient(
      to right bottom,
      var(--orange-light),
      var(--orange-dark)
    ),
    url(../img/coding_1.jpeg);
  color: var(--white);
  text-align: center;
}

.my-card__img--2 {
  background-image: linear-gradient(
      to right bottom,
      var(--blue-light),
      var(--blue-dark)
    ),
    url(../img/coding_1.jpeg);
  color: var(--white);
  text-align: center;
}

.my-card__img--3 {
  background-image: linear-gradient(
      to right bottom,
      var(--green-light),
      var(--green-dark)
    ),
    url(../img/coding_1.jpeg);
  color: var(--white);
  text-align: center;
}

.my-card__text {
  margin: 2rem;
  text-align: center;
}
/*End Services*/

/*Features Section*/

.features {
  padding: 20rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(9, 24, 33, 0.8),
      rgba(11, 21, 40, 0.8)
    ),
    url(../img/coding_3.jpeg);
  background-size: cover;
  background-position: top;
  --webkit-clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
}

.feature-card {
  min-height: 22rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1, 5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: var(--shadow);
  transition: all 0.3s;
}

.feature-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.feature-card__icon {
  margin-bottom: 3rem;
  display: inline-block;
  background-image: linear-gradient(
    to right bottom,
    var(--blue-dark),
    var(--blue-light)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*End Features*/
